name: Main Workflow
on:
  push:
  pull_request:
jobs:
  all:
    name: Build, Test, Deploy, Tag
    runs-on: ubuntu-18.04

    steps:
      - uses: rlespinasse/github-slug-action@master

      - name: Setup specific variables
        run: |
          echo "::set-env name=DOCKER_IMAGE::mannkind/unifi2mqtt"
          echo "::set-env name=BUILD_APP::Unifi"

      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100' # SDK Version to use.

      - name: Check out code
        uses: actions/checkout@v1

      - name: Build and test application
        env:
          BUILD_APP: ${{ env.BUILD_APP }}
        run: |
          dotnet build -c Release ${BUILD_APP}
          dotnet test ${BUILD_APP}Test
          echo "::set-env name=BUILD_VERSION::$(./${BUILD_APP}/bin/Release/netcoreapp3.1/${BUILD_APP} -- version)"

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev')

      - name: Build various runtimes
        env:
          BUILD_APP: ${{ env.BUILD_APP }}
          BUILD_VERSION: ${{ env.BUILD_VERSION }}
        run: |
          dotnet build -p:Version="${BUILD_VERSION/v/}" -c Release -o output/linux/amd64 -r linux-x64 ${BUILD_APP}
          dotnet build -p:Version="${BUILD_VERSION/v/}" -c Release -o output/linux/arm64 -r linux-arm64 ${BUILD_APP}
          dotnet build -p:Version="${BUILD_VERSION/v/}" -c Release -o output/linux/arm/v7 -r linux-arm ${BUILD_APP}
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev')

      - name: Build/Push Docker Images (Master)
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_CLI_EXPERIMENTAL: "enabled"
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          BUILD_VERSION: ${{ env.BUILD_VERSION }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
          docker buildx build --push --platform=linux/amd64,linux/arm64,linux/arm/v7 -t "${DOCKER_IMAGE}:latest" .
          docker buildx build --push --platform=linux/amd64,linux/arm64,linux/arm/v7 -t "${DOCKER_IMAGE}:${BUILD_VERSION}" .
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Tag and push the git release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILD_VERSION: ${{ env.BUILD_VERSION }}
        run: |
          git tag -f $BUILD_VERSION
          sed -i -e "s/github.com/mannkind:${GITHUB_TOKEN}@github.com/g" git/config
          git push --tags
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Build/Push Docker Images (Non-Master)
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_CLI_EXPERIMENTAL: "enabled"
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
          docker buildx build --push --platform=linux/amd64,linux/arm64,linux/arm/v7 -t "${DOCKER_IMAGE}:dev" .
        if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
